<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Player Room</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/gamelobby.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6575a2070f.js" crossorigin="anonymous"></script>

    <script src="/js/chat.js" defer></script>
    <script src="/js/games.js" defer></script>
</head>
    <body>
        <section>
        <header>
            <h4>TeamJ's Game</h4>
            <nav>
            <ul class="nav_links">
                <h1><%= user.id %> <%= user.email %></h1>
                <li><a href="/playerroom">Home</a></li>
            </ul>
            </nav>
        </header>
        </section>

        <main class="container">
            <div class="container-box-lobby">
            <h1>Game <%= id %></h1>
            <div class="gameboard">
                  <div class="player-one">Name1: $100</div>
                  <div class="player-two">Name2: $100</div>
                  <div class="player-three">Name3: $100</div>
                  <div class="player-four">Name4: $100</div>
                  <div class="player-five">Name5: $100</div>

                <div class="controls">
                    <div class="pot-blind">
                    <div class="pot">POT: $100</div>
                    <div class="blind-btn">Blind: $5</div>     
                </div>
                      <div class="playerfield">
                        <div class="community-cards">
                            <div class="comm-card-one"><i class="fa-solid fa-heart"></i></div>
                            <div class="comm-card-two"><i class="fa-solid fa-heart"></i></div>
                            <div class="comm-card-three"><i class="fa-solid fa-diamond"></i></div>
                            <div class="comm-card-four"><i class="fa-solid fa-heart"></i></div>
                            <div class="comm-card-five"><i class="fa-solid fa-diamond"></i></div>
                          </div>
                        <div class="cards">
                            
                            <div class="chose-card-one"><i class="fa-solid fa-heart"></i></div>
                            <div class="chose-card-two"><i class="fa-solid fa-diamond"></i></div>
                            </div>
                        </div>
                </div>
                <form method="post" action="/games/<%= id %>/check" id="check-form">
                    <button class ="btn" type="submit">Check</button>
                </form>
                <form method="post" action="/games/<%= id %>/call" id="call-form">
                    <button class ="btn" type="submit">Call</button>
                </form>
                <form method="post" action="/games/<%= id %>/fold" id="fold-form">
                    <button class ="btn" type="submit">Fold</button>
                </form>
                <form method="post" action="/games/<%= id %>/raise" id="raise-form">
                    <button class ="btn" type="submit">Raise</button>
                    <input type="number" id="raiseButton" name="raiseButton" required>
                </form>
            </div>

            <input
                type="hidden"
                name="game-socket-id"
                id="game-socket-id"
                value="<%= gameSocketId %>"
            />

        
            </div>
          </main>
    </body>
</html>