<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Player Room</title>

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6575a2070f.js" crossorigin="anonymous"></script>
    <script src="/js/games.js" defer></script>
</head>
    <body>
        <section>
        <header>
            <h4>TeamJ's Game</h4>
            <nav>
            <ul class="nav_links">
                <h1><%= user.id %> <%= user.email %></h1>
                <li><a href="/playerroom">Home</a></li>
            </ul>
            </nav>
        </header>
        </section>

        <main class="container">
            <div class="container-box-lobby">
           <h1>Game <%= id %></h1>
            <div class="gameboard">
                  <div class="player-one">Name1: $100</div>
                  <div class="player-two">Name2: $100</div>
                  <div class="player-three">Name3: $100</div>
                  <div class="player-four">Name4: $100</div>
                  <div class="player-five">Name5: $100</div>
            </div>
                <div class="controls">
                    <div class="pot-blind">
                    <div class="pot">POT: $100</div>
                    <div class="blind-btn">Blind: $5</div>     
                </div>
                      <div class="playerfield">
                        <div class="community-cards">
                            <div class="comm-card-one"><i class="fa-solid fa-heart"></i></div>
                            <div class="comm-card-two"><i class="fa-solid fa-heart"></i></div>
                            <div class="comm-card-three"><i class="fa-solid fa-diamond"></i></div>
                            <div class="comm-card-four"><i class="fa-solid fa-heart"></i></div>
                            <div class="comm-card-five"><i class="fa-solid fa-diamond"></i></div>
                          </div>
                        <div class="cards">
                            <div class="chose-card-one"><i class="fa-solid fa-heart"></i></div>
                            <div class="chose-card-two"><i class="fa-solid fa-diamond"></i></div>
                            </div>
                        </div>
                </div>

                <div class="player-btn">
                <% if (user.id === gameHostId && roundId == -1) { %>
                    <ul>
                        <form id="startForm">
                            <button class ="btn" type="submit">Start Game</button>
                        </form>
                    </ul>
                <% } else if(roundId != -1) { %>
                    <form id="checkForm">
                        <button class ="btn" type="submit">Check</button>
                    </form>
                    <form id="callForm">
                        <button class ="btn" type="submit">Call</button>
                    </form>
                    <form id="foldForm">
                        <button class ="btn" type="submit">Fold</button>
                    </form>
                    <form id="raiseForm">
                        <button class ="btn" type="submit">Raise</button>
                        <input type="number" id="raiseField" name="raiseField" required>
                    </form>
                <% } %>
                </div>
            </div>

            <input
                type="hidden"
                name="game-socket-id"
                id="game-socket-id"
                value="<%= gameSocketId %>"
            />
            <input
                type="hidden"
                name="user-socket-id"
                id="user-socket-id"
                value="<%= userSocketId %>"
            />
            <input
                type="hidden"
                name="room-id"
                id="room-id"
                value="<%= id %>"
            />
            <input
                type="hidden"
                name="user-id"
                id="user-id"
                value="<%= user.id %>"
            />

            </div>
          </main>




<style>
    
.body {
    min-height: 100vh;
    background-color: #021838;
}



.container-box-lobby {
    height: 600px;
    border-radius: 15px;
    width: 80%;
    background-color: #AA6600;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Updated from center */
    align-items: center;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    margin-top: 20px; /* Added to create space from the top */
}

.game-and-player {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.gameboard {
    margin-top: 20px;
    
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    height: 50px;
    width: 50px;
}

.player-one,
.player-two,
.player-three,
.player-four,
.player-five {
    flex: 1; 
    margin: 0 10px; 
    text-align: center;
    border-radius: 50%; 
    background-color: #021838;
    color: white; 
}
.pot-blind {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pot,
.blind-btn {
    height: 50px;
    width: 50px;
    background-color: #B81212;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    border-radius: 20%;
    font-size: 14px;
    cursor: pointer;
}

.pot {
    margin-left: 40%; 
}
.blind-btn {
    margin-right: 40%; 
}

.blind-btn{
    border-color: black;
}


.playerfield {
    margin-top: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.player-btn {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}
.controls {
    background-color: rgb(3, 36, 25);
    height: 300px;
    width: 600px;
    border-radius: 2%;

}


#check-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn,
#raiseButton {
    height: 40px;
    width: 100px;
    background-color: #B81212;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#raiseButton {
    background-color: white; 
    color: black; 
    font-size: 20px;
}

.community-cards,
.cards {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.comm-card-one,
.comm-card-two,
.comm-card-three,
.comm-card-four,
.comm-card-five,
.chose-card-one,
.chose-card-two {
    width: 50px;
    height: 75px;
    background-color: white;
    border: 2px solid #B81212;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chose-card {
    height: 40px;
    width: 100px;
    background-color: #B81212;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.cards {
    margin-top: 60px; 
    flex-direction: row; 
}

@media screen and (max-width: 768px) {
    .container-box-lobby {
        width: 90%; 
    }

    .margin-left {
        margin-left: 10%; 
    }
}

@media screen and (max-width: 768px) {
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins, sans-serif";
}
body{
    
 
    min-height: 100vh;
    background-color:#021838 ;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}
.nav_links{
    list-style-type:none ;
    display: flex;
    gap: 20px;
   
}

.nav_links li{
    margin-right: 10px;
  
}

.wrapper{
 
    margin-top: 10%;
    margin-left: 10%;
    background-color: #AA6600;
    width: 420px;
    height: 500px;
    color: black;
    border-radius: 10px;

}
.wrapper h1{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 20px;

}

.wrapper .input-box{
    position: relative;
    width: 80%;
    height: 50px;

    margin: 30px 0;
   
}
.input-box input{
    margin-left: 40px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    color: black;
    padding: 20px,45px,20px,20px;
}
.input-box input::placeholder{
    color: rgb(95, 94, 94);
    font-size: 20px;
    ;
    
    
}
.input-box i{
    position: absolute;
    right: 1px;
    top: 40%;
    transform: translate(-50%);
    color: rgb(95, 94, 94);
    font-size: 20px;
}
.wrapper .reg-link{
    justify-content: center;
    font-size: 14.5px;
    margin: 15px;
    letter-spacing: 2px;
    text-align: center;
   
}
.reg-link a{
    color: white;
}
.reg-link a:hover{
    color: rgb(95, 94, 94);
}
.wrapper .btn{
    width: 80%;
    height: 45px;
    background-color: #B81212;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10 rgba(0  ,0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    margin-left: 40px;
    letter-spacing: 2px;
}
.btn:hover{
    color: white;
}



</style>

    </body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <button class="open-btn" onclick="openChatWindow"><i class="fa fa-comment"></i>Chat </button>
    
    <div class="chat-popup" id="chat-form-container">
        <form action="#" class="form-container">
            <div class="chat-window-head">
                <h4><i class="users-comment"></i>Chat Window</h4>
                <span class="close-buttn" onclick="closeChatWindow()">
                    <i class="the-time"></i>
                </span>
            </div>
            <div class="msg-container">
                <div class="msg">
                    <p> Welcome </p>
                    <span>3:48pm</span>
                </div>
            </div>

            <div class="chat-box-container">
                <div class="chat-box">
                    <input type="text" placeholder="Enter text..." name="msg" required>
                    <button type="submit" class="btn"><i class="bottom-right-send-button"></i></button>
                </div>
            </div> 
        </form>
    </div>
    <!--<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script type="text/javascript" src="gamechat.js"></script>-->

<style>
    .open-btn{
        background-color: #093502;
        color:whitesmoke;
        padding: 16px 20px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        position: fixed;
        font-size: 16px;
        margin-right: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3;
        box-shadow: rgba(17,17,26,0.1) 0px 4px 16px 0px, rgba(17,17,26,0.05) 0px 8px 32px 0px;
        bottom: 24px;
        right: 30px;
        width: 280px;
    }

    .open-btn i{
        font-size: 28px;
        margin-right: 20px;
    }

    .chat-popup{
        bottom: 16px;
        right: 16px;
        z-index: 9;
        width: 320px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        max-width: 400px;
        background-color: white;
        border-radius: 10px 10px 6px 6px;
        box-shadow: rgba(17,17,26,0.1) 0px 4px 16px 0px, rgba(17,17,26,0.05) 0px 8px 32px 0px;
    }

    .chat-window-head{
        display: flex;
        justify-content: space-between;
        background: #093502;
        padding: 16px 14px;
        border-radius: 10px 10px 0px 0px;
        height: 60px;
    }

    .chat-window-head i{
        font-size: 24px;
        margin-right: 10px;
    }
    .chat-window-head h4{
        color: white;
        font-weight:500;
    }

    .close-buttn{
        color: white;
        cursor: pointer;       
    }

    .msg-container{
        padding: 12px 10px;
        height: 300px;
        margin: 10px 0;
    }

    .msg{
        background-color: #E4E3EE;
        padding: 10px 16px;
        border-radius: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .msg p{
        font-size: 12px;
        line-height: 1.8;
    }

    .msg span{
        font-size: 10px;
        color: gray;
    }

    .chat-box-container{
        display: flex;
        height: 46px;
        margin-bottom: 16px;
        padding: 0px 14px;
    }

    .chat-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        border-radius: 30px;
        background: #f5f5f5;
        border: 1px solid gray; 
    }

    .form-container input{
        width: 80%;
        padding: 4px;
        height: 46px;
        padding-left: 16px;
        border: none;
        background: #f1f1f1;
        border-radius: 4px;
    }

    .form-container input:focus{
        outline: none;
        background: #F5F5F5;
    }

    .btn{
        width: 60px;
        background: #093502;
        color: white;
        height: 100%;
        border-radius: 0 10px 10px 0;
        font-size: 20px;
        transition: all 300ms;
    }

    .btn:hover,
    .open-btn:hover{
        opacity: 0.9;
    }

</style>